.RepoMain > form > input {
    margin: 5px;
}

.RepoMain > form > input[name='user'] {
    padding: 5px;
    border-radius: 0.25em;
    border: 1px solid black;
}

.RepoMain > form > input[name='user']:focus {
    outline-color: #735d78;
}

.RepoMain > form > input[type='submit'] {
    border: none;
    background-color: #735d78;
    padding: 7px 20px;
    border-radius: 0.5em;
}

.RepoMain > form > input[type='submit']:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background-color: #b392ac;
}

.RepoMain > .inner-repo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.RepoMain > .inner-repo > div {
    background-color: #d1b3c4;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

.RepoMain > .inner-repo > div > button {
    border: none;
    background-color: #735d78;
    padding: 7px 20px;
    border-radius: 0.5em;
}

.RepoMain > .inner-repo > div > button:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background-color: #b392ac;
}

.RepoMain > .user-info {
    display: flex;
    justify-content: center;
    margin: 10px auto;

}

.RepoMain > .user-info > img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}